/* width */
.SolutionsAI{
    margin:20px 100px;
    display: flex;
    
  }
  .solutionMenu
  {
    width:100%;
  }
  .AIimgDiv {
    margin-top: 10px;
}
.AIimg {
  margin:0px 100px;
    height:300px;
    width:500px;
    border-radius: 1.5rem;
}
@media only screen and (max-width:"860px")
{
  .SolutionsAI{
     display: block; 
    width:100%;
    height:1000px;
    margin:20px 0px;
  }
    .AIimgDiv {
        margin: 10px 0px;
        width:100%;
        height:200px;
    }
    .AIimg {
        height:200px;
        width:100%;
        border-radius: 1.5rem;
    }
    
  }