.AIimgDiv {
    margin-top: 10px;
}
.AIimg {
    height:400px;
    width:550px;
    border-radius: 1.5rem;
}
@media only screen and (max-width:"86px")
{
    .AIimgDiv {
        margin-top: 10px;
        width:100%;
    }
    .AIimg {
        height:auto;
        width:100%;
        border-radius: 1.5rem;
    }
}
